<p>create works!</p>
h1 style="text-align: center;">Post the data with the help of Httpclient</h1>


        <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="form">
                <label style="font-size:20px;">Name</label>
                <input type="text" class="form-control" formControlName="title"/>
                <div class="help-text" *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched">Title is required</div>
            </div>

            <div class="form">
                <label   style="font-size:20px;">Domain</label>
                <textarea class="form-control" formControlName="content"></textarea>
                <div class="help-text" *ngIf="postForm.get('content')?.invalid && postForm.get('content')?.touched">Content is required</div>
            </div>

            <div>
                <button type="submit" class="btn" [disabled]="postForm.invalid">Add post</button>
            </div>
        </form>
